*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #edf2f8;
    display: grid;
    place-items: center;
    min-height: 100vh;
}
main{
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 80%;
    background-color: white;
}
.img{
    background-image: url("../images/drawers.jpg");
    background-size: cover;
}
main img{
    width: 100%;
}
.contanier{
    padding: 30px 20px;
}
.contanier h3{
    font-size: 32px;
    margin-bottom: 20px;
    color: #4a5161;
}
.contanier p{
    color: #4a5161;
    line-height: 1.7;
}
.avatar {
    display: flex;
    justify-content: space-between;
    margin-top:30px ;
}
.head{
    display: flex;
    justify-content: space-between;
}
.head img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: hsl(212, 23%, 69%);
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: relative;
}
i{
    font-size: 24px;
    z-index: 2;
    color: hsl(210, 46%, 95%);
    position: relative;
}
.active{
    background-color: #495669;
    position: absolute;
    top: -65px;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    border-radius: 18px;
    display: none;
}
.active span{
    font-size: 18px;
    letter-spacing:4px ;
    font-weight: normal;
    color: white;
    padding: 0 10px;
}
.active::after{
    content: "";
    border-style: solid;
    border-width:10px ;
    border-color: #495669 transparent transparent transparent;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    /* display: none; */
}
.active i {
    margin:0 5px;
}
@media (max-width:767px) {
    main{
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 3fr;
    }
}